.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.headerActions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  min-width: 140px;
}

.main {
  padding: 8px 0;
}

.cardsList {
  margin-bottom: 8px;
  display: grid;
  grid-gap: 8px;
}

.modalTitle {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.modalDesc {
  margin-bottom: 12px;
  line-height: 18px;
}

.modalActions {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }
  .headerActions {
    padding-left: 8px;
    min-width: auto;
  }
  .showMore button {
    width: 100%;
    line-height: 32px;
  }
  .modalActions {
    flex-direction: column;
  }
}
