.title {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.description {
  color: var(--blue-grey-500);
  margin: 0 0 20px 0;
  line-height: 18px;
}

.form {
  display: grid;
  grid-gap: 20px;
}

.actions {
  display: flex;
  gap: 8px;
}

.sync {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 512px) {
  .actions {
    flex-direction: column;
  }
}
